container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
02_createsuperuser:
    command: "echo \"from accounts.models import Account; Account.objects.create_superuser('Mehriddin', 'Nozimov', 'mehriddinnozimov05@gmail.com', 'mehriddinnozimov05', 'nicolas11')\" python manage.py shell"
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings