container_commands:
    01_migrate:
        command: "django-admin.py migrate"
        leader_only: true
    02_postgresql:
        command: sudo yum -y install gcc python-setuptools python-devel postgresql-devel
    03_postgresql:
        command: sudo easy_install psycopg2-binary
    04_create_superuser_for_django_admin:
        command: "python manage.py mysuperuser"
        leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings